*{
    font-family: 'Courier New';
}
h3{
    color: purple;
}
.head{
    color: #b92b27;
}
#login{
    background-color: wheat;
}
#signup{
    background-color: antiquewhite;
}
.upvote{
    background-color: burlywood;
}
.post {
    color: purple;
}
div > input{
    background-color: antiquewhite;
}
button:hover{
    background-color: black;
    color: white;
}
input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}
.post:nth-of-type(2n){
    background-color: bisque;
}
h3::first-letter{
    color: aqua;
}
p::first-line{
    color: blue;
}
p::selection{
    background-color: green;
}
div{
    background-color: aqua;
}
