*{
    font-family: 'Courier New';
}
h3{
    color: purple;
}
.head{
    color: #b92b27;
}
#login{
    background-color: wheat;
}
#signup{
    background-color: antiquewhite;
}
.upvote{
    background-color: burlywood;
}
.post {
    color: purple;
}
div > input{
    background-color: antiquewhite;
}